<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="<?php echo site_url('Index/index'); ?>">控制面板</a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li><a href="<?php echo site_url('Index/article'); ?>">文章管理</a></li>
    <li><a href="<?php echo site_url('Index/define_api'); ?>">接口定义</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="">More navigation</a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
  </ul>
</div>